a:link{
  color:blue;
}

.word1 {
  color: grey;
  font-family: lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.word2 {
  color: #21BA45;
  font-family: lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.word3 {
  color: red;
  font-family: lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-decoration: line-through;
}
.LevelHeadingPanel  {
  left: 128px;
  height: 44px;
}

.explainbox {
  border:solid 1px #2185D0;
  resize: none;
  float: left;
  font-family: lato;
  font-size: 12px;
  font-style: normal;
  padding: 4px;
}

.questionwords {
  color: grey;
  font-family: lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.questionwordsCorrect {
  color: #21BA45;
  font-family: lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.questionwordsInCorrect {
  color: red;
  font-family: lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  text-decoration:line-through;
}
.questionwordsClicked {
  color: #E03997;
  font-family: lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.feedback {
  color: black;
  font-family: lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 10px;
}
.feedbackCorrect {
  color: #21BA45;
  font-family: lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.feedbackInCorrect {
  color: red;
  font-family: lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  text-decoration:none;
}
.tablecontainer {
  text-align: center;
  height: 300px;
}



/* Style classes for Home Page */
.HomeImage1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

}
.HomeTitleText  {
  font-family: lato;
  color: grey;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.6;
  padding-left:700px;
}
.HomeTitleText2  {
  font-family: lato;
  color: #2185D0;
  font-size: 26px;
  font-weight: bold;
}
.HomeTitleText3  {
  font-family: lato;
  color: #E03997;
  font-size: 26px;
  font-weight: bold;
}
.HomeImage2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 500px;
  height: 350px;
  margin-top:30px;
}
.TitleText  {
  font-family: lato;
  color: #2185D0;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.6;
}
.subtitletext {
  font-family: lato;
  color: black;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
}
.bodytext {
  font-family: lato;
  color: #00000099;
  font-size: 16px;
  line-height: 1.6;
  align-content: center;
}

.HomeTable  {
  width: 70%;
  margin:auto;
  gap:60px;
}
.HomeTable td {
  padding-left: 20px;
  padding-right: 20px;
}
/* End Home Page Styles */

/* Class management Styles */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 180px;
  padding-top:60px;
  width: 80%;
}
.shadowPanel  {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 200px;
}
.ColumnHeading  {
  font-family: Lato;
  font-size: 14px;
  color: grey;
  padding-left: 200px
}
.ColumnHeading2  {
  font-family: Lato;
  font-size: 16px;
  color: grey;
  padding-top: 20px;
  padding-left: 100px;

}
.fieldlabel  {
  font-family: Lato;
  font-size: 12px;
  color: grey;
  line-height: 200%;
  padding-left: 10px;

}
.fieldInput {
  font-family: Lato;
  font-size: 14px;
  color: grey;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;;
  width: 250px;
}
.classList4  {
  font-family: Lato;
  font-size: 14px;
  color: grey;
  padding-left: 200px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.classList  {
  font-family: Lato;
  font-size: 14px;
  color: grey;
  padding-left: 10px;
  padding-top: 2px;
}
.newClassbtnLeft  {
  background-color: grey;
  font-family: Lato;
  font-size: 14px;
  color:white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 0;
}
.newClassbtnRight {
  background-color: lightgrey;
  font-family: Lato;
  font-size: 14px;
  color:darkgrey;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.savebtn {
  background-color: lightblue;
  font-family: Lato;
  font-size: 14px;
  color:white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.Okbtn {
  background-color: lightblue;
  font-family: Lato;
  font-size: 12px;
  color:white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left:10px;
  margin-right:10px;
}
/* End Class management styles */

/* Lesson Styles */
.LessonHomeContainer  {
  display: flex;
  justify-content: center;
}
.LessonHomeContents {
  margin-top: 20px;
  margin-left:-20px;
}
.LessonHeaderPanel  {
  padding-left: 40px;
  justify-content: center;
  width: 100%;
  height: 104px;
  background-color: white;
}
.LessonNav {
  font-family: lato;
  color: black;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.6;
  padding-top:40px;
  top: 740px;
  margin-top: -20px;
  position: absolute;
}
.LessonTitleDiv  {
  padding-top:40px;
  width: 450px;
}
.LessonHeaderTable  {
  margin-left:500px;
  padding:0px;
  margin-top:-65px;
}
.LessonHeaderTable td {
  padding-left:30px;
}
.LessonTitle {
  font: lato;
  font-weight: bold;
  font-size: 36px;
  color: #767676;
}
.LessonSubtitle {
  font: lato;
  font-weight: bold;
  font-size: 36px;
  color: #E03997;
}
.LevelsBar  {
  display: flex;
}

.NotCurrentButtonText  {
  font-family: lato;
  font-weight: bold;
  font-size: 17px;
  color: white;
  background-color: #E6E6E6;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 6px;
  padding-top: 6px;
  margin-top: 4px;
  border-radius: 4px;
  margin-right: 4px;


}
.CurrentButtonText  {
  font-family: lato;
  font-weight: bold;
  font-size: 17px;
  color: white;
  background-color: #E03997;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 6px;
  padding-top: 6px;
  margin-top: 4px;
  border-radius: 4px;
  margin-right: 4px;
}
.DisplayLevelButton {
  box-shadow:0 0 0 0px white, 0 0 0 2px #F26700;
}
/* End Lesson Styles */

/* Challenge Styles */
.challengeBox {
  width:98%;
  height: 600px;
  background-color: white;
  position: relative;
}
.btnNext  {
  clear: left;
  background-color: #E03997;
  font-weight: bold;
  color: white;
  font-family: lato;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 6px;
  padding-top:6px;
  font-size:22px;
  top: 100%;
  left: 50%;
  margin-left: -20px;
  margin-top: -50px;
  border-radius: 4px;
  position: absolute;
}
.klaarButton {
  clear: left;
  background-color: #2185D0;
  font-weight: bold;
  color: white;
  font-family: lato;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-top:4px;
  font-size:22px;
  top: 100%;
  left: 50%;
  margin-left: -20px;
  margin-top: -50px;
  border-radius: 4px;
  position: absolute;
}
.showOnHover:hover + .hide {
  display:block;
  color: red;
  font-family: lato;
  font-size: 14px;
  font-style: normal;
  padding-top:10px;
  top: 100%;
  left: 50%;
  margin-left: -90px;
  margin-top: -80px;
  position: absolute;
}
.hide {
  display:none;
}

.btnHelp  {
  position: absolute;
  background-color: #E03997;
  font-weight: bold;
  color: white;
  font-family: lato;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-top:4px;
  font-size:22px;
  border-radius: 4px;
  top: 100%;
  left: 0;
  margin-left: 1cm;
  margin-top: -50px;

}
.btnHelp:hover  {
  background-color: darkgray;
}

.ChallengePanel  {
  left: 128px;
  width: 80%;
  position: fixed;
  margin-top:10px;
}
.ChallengeHeaderPanel {
  width: 100%;
  position: relative;
  height: 160px;
  background-color: black;
  color: white;
  margin-right: 20px;
}
.ChallengeImageContainer {
  float: right;
  margin: -10px 1cm 15px 15px;
}
.ChalllengeTextPanel  {
  padding-top: 1cm;
  padding-left: 1cm;
  height: 34px;
  width: 950px;
}
.ChallengeTitle {
  font: lato;
  font-weight: bold;
  font-size: 24px;
  color: #E03997;
  line-height: 1.6;
}
.ChallengeTitle2 {
  font: lato;
  font-weight: bold;
  font-size: 24px;
  color: white;
  line-height: 1.6;
}
.ChallengeSubtitle {
  font: lato;
  font-weight: bold;
  font-size: 14px;
  color:white;
  line-height: 1.6;
}
/* End Challenge Styles */

/* General Header and Side Menu styles */
.MainHeaderPanel  {
  width: 100%;
  height: 54px;
}
.RadboudBanner  {
  width: 80%;
  background-color: lightgrey;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.1rem;
}
.sidebar-table  {
  border-collapse:separate;
  border-spacing:0 4px;
}
.sidebar-table-column {
  color: #A3A3A3;
  background-color: #4D4C4C;
  width: 300px;
  vertical-align: middle;
  padding-left: 20px;
  font: lato;
  font-weight: bold;
  font-size: 14px;
}
.sidebar-table-column-completed {
  color: #21BA45;
  background-color: #4D4C4C;
  width: 300px;
  vertical-align: middle;
  padding-left: 20px;
  font: lato;
  font-weight: bold;
  font-size: 14px;
}
.sidebar-table-column-Login {
  color: white;
  background-color: black;
  width: 300px;
  vertical-align: middle;
  padding-left: 20px;
  font: lato;
  font-weight: bold;
  font-size: 14px;
}
.userid {
  background-color: white;
  color:grey;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px;
  margin-top: 5px;
}
.password {
  background-color: white;
  color:grey;
  padding: 5px;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
}
.loginbutton  {
  font-family: lato;
  background-color: blue;
  color:white;
  font-size: 12px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border-radius: 4px;
}
.sidebar-table-row {
  height: 36px;
}
ul.sidebar-panel-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  left: 0;
}
ul.sidebar-panel-nav > li {
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

ul.sidebar-panel-nav > li > a {
  color: #A3A3A3;
  text-decoration: none;
  font-size: 14px;
  padding: 8 px 16 px;
  font-family: lato;
  display: block;
}
ul.sidebar-panel-nav > li > a:hover {
  background-color: #7B7B7B;
  color: white;
}
/* End Main header styles */

/* Level Styles */
.LevelTitle {
  font: lato;
  font-weight: bold;
  font-size: 24px;
  color: #E03997;
}
.LevelSubtitle {
  font: lato;
  font-weight: bold;
  font-size: 24px;
  color:#2185D0;
}
/* End Level Styles */

/* V01 Styles */

.V01Context {
  color: black;
  font-family: lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.V01_Table {
  width:70%;
  table-layout: fixed;
  margin-top: 20px;
}

.V01_Table td {
  width: 100px;
}
 .V01_Table tr {
  line-height: 8px;
}
.V01_Table td:nth-child(1) {
  width: 300px;
}

.V01Klaar {
  margin-left: 0px;
  margin-top: 0px;
}
/* V01 Styles */


/* C01 Styles */

.C01Container {
  margin-top:20px;
}
.C01Heading {
  color: black;
  font-family: lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  padding-left: 1cm;
}

.C01Table {
  table-layout: fixed;
  width: 100%;
  margin-top: 40px;
}
.C01Table tr  {
  height: 60px;
}
.C01Table td  {
  padding-right: 20px;
}

.C01Table td:first-child  {
  width: 700px;
}
.C01Klaar  {
  margin-left: 0px;
  margin-top: 0px;
}
/* End C01 Styles */

/* CA3 Styles */
.CA3Questions {
  color: #21BA45;
  font-family: lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
}
.CA3QuestionsClicked {
  color: darkgrey;
  font-family:lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.CA3Table {
  table-layout: fixed;
  width: 80%;
  margin-top: 40px;
  margin-left: 100px;
  border-collapse: collapse;
}
.CA3Table td:nth-child(2) {
  border-right: lightgray 1px solid;
}
.CA3Table td:nth-child(1) {
  width:300px;
}
.CA3Table th:nth-child(1) {
  width:300px;
}
.CA3Table th,td {
  padding-right: 0px;
  padding-left: 80px;
  text-align: left;
}

.CA3Table tr {
  height: 50px;
}

.CA3Klaar {
  margin-top: 0px;
  margin-left: 0px;
}

/* End CA3 Styles */
/* K01 Styles */

.questionwordsK1 {
  color: grey;
  font-family: lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.WisButton  {
  background-color: #2185D0;
  border-radius: 4px;
  color: white;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  float: right;
  font-family: lato;
  font-weight: bold;
  margin-top: 20px;
}
.WisButton:hover  {
  background-color: darkblue; /* Green */
  color: yellow;
}

.K01_Table {
  width:80%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-left: 60px;
  margin-top: 20px;
}

.K01_Table tr {
  height:  60px;
}

.K01_Table td {
  vertical-align: center;
}
.K01_Table td:first-child {
  width: 500px;
}
.K01_Table td:nth-child(2) {
  width: 400px;
}

.K01Klaar  {
  margin-top: 0px;
  margin-left: 0px;
}

/* End K01 Styles */

/* K02 Styles */
.K02Klaar  {
  margin-top: 0px;
  margin-left: 0px;
}

.T2_Introduction  {
  color: grey;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  padding-top: 20px;
  width: 70%;
  padding-left: 30px;
  text-align: justify;
}
.T2_Table {
  width: 80%;
  padding: 20px;
  margin-top:40px;
  margin-left:200px;
  height: 300px;
  table-layout: fixed;
}
.T2_Table tr  {
  height: 150px;
}
.T2_Table th, td  {
  text-align: left;
  color: black;
  line-height: 1.6;
}

.answeroptions {
  color: black;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  height: 10px;
  width: 10px;
}
.answeroptionsCorrect {
  color: #21BA45;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  height: 10px;
  width: 10px;
  pointer-events: none;
}
.answeroptionsWrong {
  color: red;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  height: 10px;
  width: 10px;
  text-decoration: line-through;
  pointer-events: none;
}

/* End K02 Styles */

/* LE1 Styles */
.LE1Klaar  {
  margin-left: 0px;
  margin-top:0px;
}
.answerresultimg  {

  width: 30px;
  height: 30px;
}

.LE1Table {
  table-layout: fixed;
  width: 100%;
  vertical-align: middle;
  margin-top:40px;
  margin-left: 1cm;
  line-height: normal;

}
.LE1Table tr {
  height: 80px;
  vertical-align: middle;
  line-height: normal;

}
.LE1Table td:nth-of-type(1) {
  width: 700px;
  padding-left: 0px;
  line-height: normal;


}
.LE1Table td:nth-of-type(2) {
  padding-left: 10px;
  vertical-align: middle;
  width: 300px;
  line-height: normal;

}

/* End LE1 Styles */
/* I01 Styles */
.voorbeeldzin {
  color: black;
  font-family: lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  white-space: wrap;
  line-height: 200%;
}

.I01Table {
  table-layout: fixed;
  width: 100%;
  vertical-align: center;
  margin-top: 20px;
}
.I01Table tr {
  height: 20px;
}
.I01Table td {
 padding-right: 20px;
}
.I01Table td:nth-of-type(1) {
  width: 600px;
}
.I01Textbox {
  color: #E03997;
  font-family: lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  border:solid 1px grey;
  padding: 2px;
}
.I01Textbox:focus {
  outline:none;
}
.I01Klaar {
  margin-left: 0px;
  margin-top:0px;
}

.referenceanswer {
  color: #21BA45;
  font-family: lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
/* End I01 Styles */

/* H05 Styles */
.H05Klaar  {
  margin-top: 0px;
  margin-left: 0px;
}

.H05Table {
  table-layout: fixed;
  width: 100%;
  vertical-align: center;
  margin-top: 20px;
}

/* End H05 Styles */

/* S01 Styles */

.explanation {
  color: black;
  font-family: lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}

.S01Klaar  {
  margin-top: 0px;
  margin-left: 0px;
}

.S01Table {
  table-layout: fixed;
  width: 100%;
  vertical-align: center;
  border-collapse: collapse;
  margin-top: 20px;
}
.S01Table tr:nth-child(even) {
  height: 50px;
}
/* End S01 Styles */

/* V02 Styles */
.V02Klaar  {
  margin-top: 0px;
  margin-left: 0px;
}
.V02Table {
  width: 100%;
  padding: 10px;
  margin-top:30px;
  margin-left:60px;
  table-layout: fixed;
}
.V02Table tr:nth-child(4n) {
  height: 30px;
}
.V02Textbox {
  color: #E03997;
  font-family: lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  border:solid 1px lightgrey;
  padding: 2px;
}
.V02Textbox:focus {
  outline:none;
}
/* End V02 Styles */

/* H02 Styles */
.H02Klaar {
  margin-left: 0px;
  margin-top: 0px;
}

.H02Table {
  table-layout: fixed;
  width: 100%;
  vertical-align: center;
  border-collapse: collapse;
  margin-top: 20px;
}
.correctAnswer  {
  color:21BA45;
}
 .H02Feedback {
  color: black;
  font-family: lato;
  font-size: 14px;
  font-style: bold;
}
/* LE2 styles */
.LE2Table {
  table-layout: fixed;
  width: 100%;
  vertical-align: middle;
  margin-top:40px;
  margin-left: 1cm;
}
/* LE3 styles */
.LE3Heading {
  font-family: lato;
  font-weight: bold;
  font-size: 24px;
  color: black;
  padding-left: 1cm;
}

.LE3Table {
  table-layout: fixed;
  width: 100%;
  vertical-align: middle;
  margin-top:20px;
  margin-bottom: 10px;
  margin-left: 1cm;
}
.LE3Table tr {
  height: 70px;
  vertical-align: middle;
  line-height: normal;
}
.LE3Table td:nth-of-type(1) {
  width: 700px;
  padding-left: 0px;
  line-height: normal;
}
.LE3Table td:nth-of-type(2) {
  padding-left: 10px;
  vertical-align: middle;
  width: 300px;
  line-height: normal;

}
.LE3Table td:nth-of-type(3)  {
  vertical-align: middle;
  text-align: center;
  padding-left: 0px;
  line-height: normal;
}
.LENewQuestionTable {
  table-layout: fixed;
  width: 100%;
  vertical-align: middle;
  margin-top:20px;
  margin-bottom: 10px;
  margin-left: 1cm;
}
.LENewQuestionTable tr {
  height: 70px;
  vertical-align: middle;
  line-height: normal;
}
.LENewQuestionTable td:nth-of-type(1) {
  width: 700px;
  padding-left: 0px;
  line-height: normal;
}
.LENewQuestionTable td:nth-of-type(2) {
  padding-left: 10px;
  vertical-align: middle;
  width: 300px;
  line-height: normal;

}
.LENewQuestionTable td:nth-of-type(3)  {
  vertical-align: middle;
  text-align: center;
  padding-left: 0px;
  line-height: normal;
}
